<ng-container *ngIf="buttonState | async as state">
  <button
    [ngClass]="state.classList"
    [style.width]="state.width"
    [style.margin]="state.margin"
    [style.border]="state.border"
    [style.color]="state.fontColor"
    [attr.aria-label]="state.label"
  >
    <ng-container *ngIf="['left', 'only'].includes(state.iconSide)">
      <i *ngIf="state.icon" [ngClass]="state.icon"></i>
    </ng-container>

    <ng-container *ngIf="state.label">
      {{state.label}}
    </ng-container>

    <ng-container *ngIf="state.iconSide === 'right'">
      <i *ngIf="state.icon" [ngClass]="state.icon"></i>
    </ng-container>
  </button>
</ng-container>
