<!-- TODO: figure out why closing toast that is between others causes jumpy animation -->

<!-- toast -->
<div class="particle_notification_overlay">
  <!-- spacer -->
  <!-- container -->
  <div class="row min_w280 pad_right5" style="max-width:400px;">
    <div @list class="row_block width100 ">
      <!-- item -->

      <div *ngFor="let notification of notifications$ | async"
           @items
           class="row v_center content_color pad_10 mar_10 shadow ptl_brdr_radius">
        <div class="col pad_5 mar_right5 brdr border_right">
          <div class="circle_36px" [ngClass]="severityColorMap[notification.severity]">
            <i class="fas {{severityIconMap[notification.severity]}} fa-lg"></i>
          </div>
        </div>
        <div class="col size_1 pad_5">
          <div class="row_block">
            <div class="text lg bold">{{notification.summary}}</div>
            <div class="text md">{{notification.detail}}</div>
          </div>
        </div>


        <div class="col" style="pointer-events: all;">
          <button class="access btnset clear"
                  [attr.aria-label]="text.dismiss"
                  (click)="deleteNotification($any(notification.id))">
            <div class="circle_20px ptl_brdr_color ptl_brdr_size ptl_input_bg_color">
              <i class="fas fa-times"></i>
            </div>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
