<!-- TODO: figure out why closing toast that is between others causes jumpy animation -->

<!-- toast -->
<div class="particle_notification_overlay">
  <!-- spacer -->
  <div class="col size_3 min_w0"></div>
  <!-- container -->
  <div class="row min_w280 pad_right5" style="max-width:400px;">
    <div @list class="row_block width100">
      <!-- item -->
      <div *ngFor="let notification of notifications$ | async"
           @items
           [ngClass]="severityColorMap[notification.severity]"
           class="particle_notification">
        <div class="col mar_5"><i class="fas {{severityIconMap[notification.severity]}} fa-lg"></i></div>
        <div class="col size_1 mar_5"><div class="text sm paragraph">{{notification.summary}}<br/>{{notification.detail}}</div></div>
        <div class="col mar_y5">
          <particle-button
            size="sm"
            iconSide="only"
            icon="fas fa-times"
            rounded="circle"
            (click)="deleteNotification($any(notification.id))"
          ></particle-button>
        </div>
      </div>
    </div>
  </div>
</div>
