<div class="row column center_center height100">
  <div class="ptl_loader">
    <div class="ptl_loader__progress" [style.background]="backgroundStyle ?? ''"></div>
  </div>
  <ng-container *ngIf="!disableText">
    <div *ngIf="text.loadingText" class="text md bold center mar_top15" style="user-select: none">
      {{text.loadingText}}<span class="one">.</span><span class="two">.</span><span class="three">.</span>
    </div>
    <div *ngIf="text.loadingSubtext" class="text sm center mar_top5" style="user-select: none">
      {{text.loadingSubtext}}
    </div>
  </ng-container>
</div>
