<ng-container *ngIf="$scrollTop | async as scrollTop">
  <div [style.visibility]="scrollTop > scrollDistance ? 'visible' : 'hidden'"
       [style.opacity]="scrollTop > scrollDistance ? '1' : '0'"
       [style.bottom]="bottomOffset + 'px'"
       class="pad_10 brad_3 bg_overlay_rev particle_scroll_button">
    <button (click)="scrollToTop()"
            class="access btn pad_10 brad_3 brdr content_color"
            aria-label="Scroll back to the top of the page">
      <span class="icon slide_up"><i class="fas fa-chevron-up"></i></span>
    </button>
  </div>
</ng-container>
