<ng-container *ngIf="themes$ | async as themes">
  <ng-container *ngIf="options$ | async as options">
    <ng-container *ngIf="selectedTheme$ | async as selectedTheme">
      <particle-dropdown
        [text]="{placeholder: text.placeholder}"
        [options]="options"
        [classList]="'form_input content_color'"
        [disabled]="false"
        [value]="selectedTheme.themeId"
        (change)="changeTheme($event, themes)">
        <ng-template let-colorValue="colorValue" let-label>
          <div class="circle_14px mar_right5" [style.backgroundColor]="colorValue"></div> {{label}}
        </ng-template>
      </particle-dropdown>
    </ng-container>
  </ng-container>
</ng-container>
