:host {
    --accordion-disabled: rgb(159, 159, 161);
  }
  .particle_accordion {
  }

  .particle_accordion__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    cursor: pointer;
  }

  .particle_accordion__toggle-btn {
    border: none;
    transition: transform 0.2s ease-in;
    background: none;
  }

  .particle_accordion__item.disabled .particle_accordion__header {
    color: var(--accordion-disabled);
    cursor: not-allowed;
  }
  .particle_accordion__toggle-btn:disabled {
    cursor: not-allowed;
  }
  .particle_accordion__toggle-btn:disabled svg path:nth-child(2) {
    fill: var(--accordion-disabled);
  }
  .particle_accordion__item.active .particle_accordion__toggle-btn {
    transform: rotate(90deg);
  }

  .particle_accordion__item .particle_accordion__header:focus-within {
  }
  .particle_accordion__toggle-btn:focus {
    outline: none;
  }

