<div *ngFor="let item of items;index as i" class="particle_accordion_item" [class.disabled]="item.disabled" [class.active]="expanded.has(i)">
  <button class="particle_accordion_header overlay_alt2 width100"
          [ngClass]="headerClass + (!item.disabled ? ' access' : '')"
          [style.height]="height"
          (click)="!item.disabled ? toggleState(i) : {}"
          aria-label="View More...">
    <div class="text" [ngClass]="textClass">
      <span *ngIf="!expanded.has(i)"><i [ngClass]="iconCollapsed + ' fa-fw'"></i></span>
      <span *ngIf="expanded.has(i)"><i [ngClass]="iconExpanded + ' fa-fw'"></i></span>
      {{item?.header}}
    </div>
  </button>
  <div class="particle_accordion_content" [class.expanded]="expanded.has(i)" [@contentExpansion]="expanded.has(i) ? 'expanded':'collapsed'">
    <ng-container *ngTemplateOutlet="item?.content?.templateRef"></ng-container>
  </div>
</div>
