:host {
  --accordion-disabled: rgb(159, 159, 161);
}

.particle_accordion_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.particle_accordion_toggle_button {
  border: none;
  transition: transform 0.2s ease-in;
  background: none;
}

.particle_accordion_item.disabled .particle_accordion_header {
  color: var(--accordion-disabled);
  cursor: auto;
}

.particle_accordion_toggle_button:disabled {
  cursor: auto;
}

.particle_accordion_toggle_button:disabled svg path:nth-child(2) {
  fill: var(--accordion-disabled);
}

.particle_accordion_toggle_button:focus {
  outline: none;
}

.particle_accordion_content {
  user-select: text;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
