<div class="row_block width100 content_color ptl_input_brdr_radius ptl_input_brdr_color ptl_input_brdr_size" style="overflow: hidden">
  <div class="row ptl_input_bg_color ptl_input_brdr_color ptl_input_brdr_size border_bottom wrap hide_element"  *ngIf="!this.hideControls && this.editor.isEditable">
    <div class="col v_center ptl_input_brdr_color ptl_input_brdr_size border_right pad_5" *ngIf="capabilities.heading">
      <button
        id="heading1"
        [attr.aria-label]="text.heading1"
        class="access btnset chip_size content_color_dark_1 mar_right5 mar_left5 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.heading1" tooltipPosition="top"
        (click)="editor.chain().focus().toggleHeading({ level: 1 }).run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive('heading', { level: 1 }) }"
      >
        <i class="fas fa-header fa-fw"></i>1
      </button>
      <button
        id="heading2"
        [attr.aria-label]="text.heading2"
        class="access btnset chip_size content_color_dark_1 mar_right5 mar_left5 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.heading2" tooltipPosition="top"
        (click)="editor.chain().focus().toggleHeading({ level: 2 }).run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive('heading', { level: 2 }) }"
      >
        <i class="fas fa-header fa-fw"></i>2
      </button>
    </div>
    <div class="col v_center ptl_input_brdr_color ptl_input_brdr_size border_right pad_5" *ngIf="capabilities.textDecoration">
      <button
        id="bold"
        [attr.aria-label]="text.bold"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.bold" tooltipPosition="top"
        (click)="editor.chain().focus().toggleBold().run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive('bold') }"
      >
        <i class="fas fa-bold fa-fw"></i>
      </button>
      <button
        id="italic"
        [attr.aria-label]="text.italic"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.italic" tooltipPosition="top"
        (click)="editor.chain().focus().toggleItalic().run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive('italic') }"
      >
        <i class="fas fa-italic fa-fw"></i>
      </button>
      <button
        id="strike"
        [attr.aria-label]="text.strike"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.strike" tooltipPosition="top"
        (click)="editor.chain().focus().toggleStrike().run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive('strike') }"
      >
        <i class="fas fa-strikethrough fa-fw"></i>
      </button>
    </div>
    <div class="col v_center ptl_input_brdr_color ptl_input_brdr_size border_right pad_5" *ngIf="capabilities.list">
      <button
        id="bullet-list"
        [attr.aria-label]="text.bulletedList"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.bulletedList" tooltipPosition="top"
        (click)="editor.chain().focus().toggleBulletList().run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive('bullet-list') }"
      >
        <i class="fas fa-list fa-fw"></i>
      </button>
      <button
        id="ordered-list"
        [attr.aria-label]="text.orderedList"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.orderedList" tooltipPosition="top"
        (click)="editor.chain().focus().toggleOrderedList().run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive('ordered-list') }"
      >
        <i class="fas fa-list-ol fa-fw"></i>
      </button>
    </div>
    <div class="col v_center ptl_input_brdr_color ptl_input_brdr_size border_right pad_5"  *ngIf="capabilities.alignment">
      <button
        id="left-align"
        [attr.aria-label]="text.leftAlign"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.leftAlign" tooltipPosition="top"
        (click)="editor.chain().focus().setTextAlign('left').run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive({ textAlign: 'left' }) }"
      >
        <i class="fas fa-align-left fa-fw"></i>
      </button>
      <button
        id="center-align"
        [attr.aria-label]="text.centerAlign"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.centerAlign" tooltipPosition="top"
        (click)="editor.chain().focus().setTextAlign('center').run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive({ textAlign: 'center' }) }"
      >
        <i class="fas fa-align-center fa-fw"></i>
      </button>
      <button
        id="right-align"
        [attr.aria-label]="text.rightAlign"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.rightAlign" tooltipPosition="top"
        (click)="editor.chain().focus().setTextAlign('right').run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive({ textAlign: 'right' }) }"
      >
        <i class="fas fa-align-right fa-fw"></i>
      </button>
      <button
        id="justify-align"
        [attr.aria-label]="text.justifyAlign"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.justifyAlign" tooltipPosition="top"
        (click)="editor.chain().focus().setTextAlign('justify').run()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive({ textAlign: 'justify' }) }"
      >
        <i class="fas fa-align-justify fa-fw"></i>
      </button>
    </div>
    <div class="col v_center pad_5"  *ngIf="capabilities.link">
      <button
        id="link"
        [attr.aria-label]="text.setLink"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.setLink" tooltipPosition="top"
        (click)="openLinkDialog()"
        [ngClass]="{ 'ok_button_color': this.editor.isActive('link') }"
      >
        <i class="fas fa-link fa-fw"></i>
      </button>
      <button
        id="unlink"
        [attr.aria-label]="text.removeLink"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.removeLink" tooltipPosition="top"
        (click)="this.editor.isActive('link') ? changeEditorLink('remove') : null"
        [disabled]="!this.editor.isActive('link')"
      >
        <i class="fas fa-unlink fa-fw"></i>
      </button>
      <button
        id="clear-format"
        [attr.aria-label]="text.clearFormat"
        class="access btnset chip_size content_color_dark_1 mar_right3 mar_left3 ptl_input_brdr_radius hov_darken"
        [particleTooltip]="text.clearFormat" tooltipPosition="top"
        (click)="editor.chain().focus().clearNodes().unsetAllMarks().run()"
      >
        <i class="fas fa-text-slash fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="pad_10 ptl_input_text scroll_yauto" [style.height]="this.height">
    <tiptap-editor [editor]="editor" [(ngModel)]="value"></tiptap-editor>
  </div>
</div>


<particle-dialog
  [title]="text.modifyLink"
  [object]="showDialog"
  [allowClose]="false"
  width="400px"
  height="150px"
>
  <div class="pad_15 ptl_input_text">
    <input class="access input md"
           [(ngModel)]="dialogLink"
           [attr.aria-label]="text.url"
           placeholder="eg. https://www.google.com"
           (keyup.enter)="changeEditorLink('save')"
    />
  </div>

  <div class="center_center">
    <particle-button
      type="cancel"
      hover="darken"
      rounded="less"
      icon="fas fa-times"
      [label]="text.cancel"
      (clicked)="changeEditorLink('cancel')"
    ></particle-button>
    <particle-button
      type="ok"
      hover="darken"
      rounded="less"
      [label]="text.update"
      icon="fas fa-check"
      (clicked)="changeEditorLink('save')"
    ></particle-button>
  </div>
</particle-dialog>
