<ng-container *ngIf="!isMobile else mobile">
<div #dropdown
     class="row ptl_input ptl_input_height ptl_input_bg_color ptl_brdr_color ptl_brdr_size ptl_brdr_radius ent_r2l_dir"
     [style.filter]="disabled() ? 'brightness(.95)' : ''"
     style="cursor:default;overflow:hidden;"
     [ngClass]="classList() ? classList() : ''">
  @if (tooltipData$ | async; as tooltipData) {
  <button #dropdownButton
          role="combobox"
          aria-haspopup="listbox"
          type="button"
          (click)="openDropdown($event)"
          (focus)="setSelectionIndex()"
          (keyup.escape)="onEscapeKeyUp($event)"
          [id]="dropdownId"
          [disabled]="disabled()"
          [attr.aria-label]="text().placeholder"
          [attr.aria-expanded]="opened"
          [attr.data-dialog-close-override]="true"
          class="access btnset clear center_center height100 width100"
          style="outline-offset: -2px;"
          [particleTooltip]="collapsedButtonTemplate() ? $any(tooltipData) : ''"
          [tooltipDisabled]="!collapsedButtonTemplate() || !collapsedButtonTooltipEnabled()"
  >
    <ng-container *ngIf="collapsedButtonTemplate()">
      <ng-container *ngTemplateOutlet="collapsedButtonTemplate()"></ng-container>
    </ng-container>

    <ng-container *ngIf="!collapsedButtonTemplate()">
      <div class="col size_1 height100 width100 v_center ptl_input_text_size ptl_input_padding border_none width100 overflow_hide">
          <ng-container *ngIf="selectedDataContext$ | async as dataContext else placeholderTemplate">
            <ng-container *ngIf="!!template else noCustomTemplate">
              <div class="row v_center text_ellipsis min_w0">
                <ng-container *ngTemplateOutlet="template; context: $any(dataContext)"></ng-container>
              </div>
            </ng-container>
            <ng-template #noCustomTemplate>
              <div class="ent_r2l_txt">{{dataContext['$implicit'] || dataContext.label}}</div>
            </ng-template>
          </ng-container>
          <ng-template #placeholderTemplate>
            <div class="ptl_placeholder ent_r2l_txt">{{text().placeholder}}</div>
          </ng-template>
      </div>
      <div class="col min_w50 height100 center_center"
           [ngClass]="buttonClassList() ? buttonClassList() : ''">
        <div class="center_center height100 width100">
          <i class="fas fa-caret-down ptl_input_text_size"></i>
        </div>
      </div>
    </ng-container>
  </button>
  }
</div>

<div [style.display]="render ? '' : 'none'"
     [attr.aria-hidden]="!render"
     class="particle_dropdown_overlay">
  <div #dropdownList
       [@openClose]="opened ? 'open' : 'close'"
       (@openClose.start)="onAnimationStart($event)"
       (@openClose.done)="onAnimationDone($event)"
       class="position_absolute">
    <div class="particle_dropdown_options content_color ent_r2l_dir">
      <ng-container *ngIf="_options | async as options">
        <div class="particle_dropdown_list" role="listbox" tabindex="-1" [attr.aria-label]="text().placeholder">
          <!-- CUSTOM TEMPLATE -->
          <ng-container *ngIf="!!template else defaultOptionTemplate">
            <ng-container *ngFor="let option of options; index as i">
              <!-- OPTION GROUP -->
              <ng-container *ngIf="option.type === 'group' else nonGroupOption">
                <div class="particle_dropdown_heading ptl_input_text_size ent_r2l_txt" aria-hidden="true">{{option.groupLabel}}</div>
                <ng-container *ngFor="let groupOption of option.options; index as j">
                  <button #dropdownOption
                          (click)="onDropdownOptionSelect(groupOption.value, groupOption.disabled!)"
                          (mouseenter)="onDropdownOptionMouseEnter(dropdownOption, i + j)"
                          (mousemove)="onDropdownOptionMouseMove(dropdownOption, i + j)"
                          (keyup.escape)="onEscapeKeyUp($event)"
                          [id]="dropdownId + '-' + groupOption.value"
                          [ngClass]="{ 'unselected' : (_internalValue | async) !== groupOption.value }"
                          [attr.aria-selected]="(_internalValue | async) === groupOption.value"
                          [attr.data-value]="groupOption.value"
                          [attr.data-dialog-close-override]="true"
                          [disabled]="groupOption.disabled"
                          type="button"
                          class="particle_dropdown_option ptl_input_text_size ent_r2l_txt" role="option" tabindex="0">
                    <ng-container *ngTemplateOutlet="template; context: $any(groupOption.dataContext!)"></ng-container>
                  </button>
                </ng-container>
              </ng-container>
              <!-- SINGULAR OPTION -->
              <ng-template #nonGroupOption>
                <ng-container *ngIf="option.type === 'option'">
                  <button #dropdownOption
                          (click)="onDropdownOptionSelect(option.value, option.disabled!)"
                          (mouseenter)="onDropdownOptionMouseEnter(dropdownOption, i)"
                          (mousemove)="onDropdownOptionMouseMove(dropdownOption, i)"
                          (keyup.escape)="onEscapeKeyUp($event)"
                          [id]="dropdownId + '-' + option.value"
                          [ngClass]="{ 'unselected' : (_internalValue | async) !== option.value }"
                          [attr.aria-selected]="(_internalValue | async) === option.value"
                          [attr.data-value]="option.value"
                          [attr.data-dialog-close-override]="true"
                          [disabled]="option.disabled"
                          type="button"
                          class="particle_dropdown_option ptl_input_text_size ent_r2l_txt" role="option" tabindex="0">
                    <ng-container *ngTemplateOutlet="template; context: $any(option.dataContext!)"></ng-container>
                  </button>
                </ng-container>
              </ng-template>
            </ng-container>
          </ng-container>
          <!-- NO CUSTOM TEMPLATE -->
          <ng-template #defaultOptionTemplate>
            <ng-container *ngFor="let option of options; index as i">
              <!-- OPTION GROUP -->
              <ng-container *ngIf="option.type === 'group' else nonGroupOption">
                <div class="particle_dropdown_heading ptl_input_text_size ent_r2l_txt" aria-hidden="true">{{option.groupLabel}}</div>
                <ng-container *ngFor="let groupOption of option.options; index as j">
                  <button #dropdownOption
                          (click)="onDropdownOptionSelect(groupOption.value, groupOption.disabled!)"
                          (mouseenter)="onDropdownOptionMouseEnter(dropdownOption, i + j)"
                          (mousemove)="onDropdownOptionMouseMove(dropdownOption, i + j)"
                          (keyup.escape)="onEscapeKeyUp($event)"
                          [id]="dropdownId + '-' + groupOption.value"
                          [ngClass]="{ 'unselected' : (_internalValue | async) !== groupOption.value }"
                          [attr.aria-label]="groupOption.label"
                          [attr.aria-selected]="(_internalValue | async) === groupOption.value"
                          [attr.data-value]="groupOption.value"
                          [attr.data-dialog-close-override]="true"
                          [disabled]="groupOption.disabled"
                          class="particle_dropdown_option ptl_input_text_size ent_r2l_txt"
                          type="button"
                          role="option" tabindex="0">
                    {{groupOption.label}}
                  </button>
                </ng-container>
              </ng-container>
              <!-- SINGULAR OPTION -->
              <ng-template #nonGroupOption>
                <ng-container *ngIf="option.type === 'option'">
                  <button #dropdownOption
                          (click)="onDropdownOptionSelect(option.value, option.disabled!)"
                          (mouseenter)="onDropdownOptionMouseEnter(dropdownOption, i)"
                          (mousemove)="onDropdownOptionMouseMove(dropdownOption, i)"
                          (keyup.escape)="onEscapeKeyUp($event)"
                          [id]="dropdownId + '-' + option.value"
                          [ngClass]="{ 'unselected' : (_internalValue | async) !== option.value }"
                          [attr.aria-selected]="(_internalValue | async) === option.value"
                          [attr.data-value]="option.value"
                          [attr.data-dialog-close-override]="true"
                          [disabled]="option.disabled"
                          class="particle_dropdown_option ptl_input_text_size ent_r2l_txt"
                          type="button"
                          role="option" tabindex="0">
                    {{option.label}}
                  </button>
                </ng-container>
              </ng-template>
            </ng-container>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-content select="template"></ng-content>
</ng-container>

<ng-template #mobile>
  <select
    class="access ptl_input ptl_input_height ptl_input_text_size ptl_input_padding ptl_input_bg_color ptl_brdr_color ptl_brdr_size ptl_brdr_radius"
    [id]="dropdownId"
    [disabled]="disabled()"
    (ngModelChange)="onModelChangeMobile($event)"
    [(ngModel)]="value">
    <ng-container *ngIf="_options | async as options">
      <ng-container *ngFor="let option of options">
        <ng-container *ngIf="option.type === 'group'">
          <optgroup class="input_bg_color min_h50 pad_10" [label]="option.groupLabel">
            <ng-container *ngFor="let groupOption of option.options">
              <option
                [disabled]="groupOption.disabled"
                class="input_bg_color min_h50 pad_10"
                [value]="groupOption.value"
              >
                {{groupOption.label}}
              </option>
            </ng-container>
          </optgroup>
        </ng-container>
        <ng-container *ngIf="option.type === 'option'">
          <option
            [disabled]="option.disabled"
            class="input_bg_color min_h50 pad_10"
            [value]="option.value"
          >
            {{option.label}}
          </option>
        </ng-container>
      </ng-container>
    </ng-container>
  </select>
</ng-template>
