@import 'C:\\dev\\particle\\particle-styles\\styles\\borders.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\buttons.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\effects.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\forms.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\layout.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\navigation.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\shapes.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\spacing.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\styles.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\z_responsive.css';


/* REGULAR ACCESS CLASS */
.access{
  outline:rgba(38,184,239,0.0) 1px solid !important;
  transition:all 0.2s ease-in-out;
  text-decoration: none;
}
.access:focus{
  outline:rgba(38,184,239,1.0) 1px solid !important;
  outline-offset: 2px;
  position:relative;
  z-index:1;
}
