
@import 'C:\\dev\\particle\\particle-styles\\styles\\borders.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\buttons.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\effects.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\forms.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\layout.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\navigation.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\shapes.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\spacing.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\styles.css';
@import 'C:\\dev\\particle\\particle-styles\\styles\\z_responsive.css';

.test {
  background-color: var(--bg-red-color);
  color: var(--content-color);
}

/* REGULAR ACCESS CLASS */
.access{
  outline: var(--bg-blue-color) 1px solid !important;
  outline-color: transparent !important;
  transition:all 0.2s ease-in-out;
}
.access:hover{
  outline: var(--bg-blue-color) 1px solid !important;
  outline-offset: 1px;
}
.access:focus{
  outline: var(--bg-blue-color) 1px solid !important;
  outline-offset: 1px;
}


a:link, a:visited {
  cursor: pointer;
  color: var(--bg-blue-color);
  text-decoration: underline;
}

a:hover, a:active {
  color: var(--bg-purple-color) 1px solid !important;
}
