/*
.......
PARTICLE STYLES
.......
*/
/* RESPONSIVE HEADERS */
h1 {
  font-size: 32pt;
  margin: 0;
  line-height: 1.1;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 18pt;
    line-height: 1.2;
  }
}
h2 {
  font-size: 24pt;
  line-height: 1.2;
  margin: 0;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 16pt;
  }
}
h3 {
  font-size: 20pt;
  line-height: 1.2;
  margin: 0;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 16pt;
  }
}
h4 {
  font-size: 14pt;
  margin: 0;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 13pt;
    line-height: 1.4;
  }
}
h5 {
  font-size: 14pt;
  line-height: 1.2;
  margin: 0;
}
@media screen and (max-width: 728px) {
  h5 {
    font-size: 13pt;
    line-height: 1.4;
  }
}

/* GLOBAL FONT WEIGHTS */
.thin {
  font-weight: 100;
}
.extralight {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extrabold, heavy, bolder {
  font-weight: 800;
}
.black {
  font-weight: 900;
}





/* RICH TEXT EDITOR */
.rich_text_formatting {
  line-height: 1.4;
}
.rich_text_formatting a {
  cursor: pointer;
  font-size: 11pt;
  font-weight: 600;
  color: var(--bg-blue-alt);
  text-decoration: none;
  text-decoration-style: solid;
}
.rich_text_formatting a:hover {
  cursor: pointer;
  font-size: 11pt;
  font-weight: 600;
  color: var(--bg-blue-alt);
  text-decoration: underline;
  text-decoration-style: solid;
}
.rich_text_formatting hr {
  border: none;
  height: var(--ptl-brdr-size);
  background-color: var(--ptl-brdr-color);
  margin: 5px 0;
}
.rich_text_formatting p {
  padding: 5px 0;
  font-size: 11pt;
}
.rich_text_formatting h1 {
  font-size: 15pt;
  margin:  0;
  padding: 5px 0 0 0;
  font-weight: 600;
}
.rich_text_formatting h2 {
  font-size: 13pt;
  margin:  0;
  padding: 5px 0 0 0;
  font-weight: 600;
}
.rich_text_formatting h3 {
  font-size: 13pt;
  margin:  0;
  padding: 5px 0 0 0;
  font-weight: 200;
}
.rich_text_formatting ol {
  font-size: 11pt;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 30px;
}
.rich_text_formatting ul {
  font-size: 11pt;
  margin: 0;
  padding:0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 30px;
}
.rich_text_formatting li {
  font-size: 11pt;
  margin: 0;
  line-height: 1.2;
}
.rich_text_formatting img {
  width:100%;
  margin: 10px auto;
  display: block;
  border-radius: var(--ptl-brdr-radius);
  border-width: var(--ptl-brdr-size);
  border-style: solid;
  border-color: var(--ptl-brdr-color);
}







/* TEXT COLORS */

.text_orange {
  color: var(--bg-orange-alt);
}
.text_yellow {
  color: var(--bg-yellow-alt);
}
.text_red {
  color: var(--bg-red-alt);
}
.text_blue {
  color: var(--bg-blue-alt);
}
.text_purple {
  color: var(--bg-purple-alt);
}
.text_green {
  color: var(--bg-green-alt);
}
.text_grey {
  color: var(--bg-grey-alt);
}






/* BASIC TEXT ALIGNMENTS */
.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

/* COMPLEX TEXT ELEMENTS */
.text {
    font-weight:400;
}

.text.paragraph {
    line-height: 150%;
}

.text.lighter {
    font-weight: 100;
}

.text.light {
    font-weight: 200;
}

.text.bold {
    font-weight: 600;
}

.text.bolder {
    font-weight: 800;
}

.text.faded {
    opacity:0.8;
}

.text.left {
    text-align: left;
}

.text.center {
    text-align: center;
}

.text.right {
    text-align: right;
}

.text.justify {
    text-align: justify;
}

.text.underline {
    text-decoration:underline;
}

.text.italic {
    font-style:italic;
}

.text.xsm {
    font-size: 8px;
}

.text.sm {
    font-size: 11px;
}

.text.md {
    font-size: 13px;
}

.text.lg {
    font-size: 18px;
}

.text.xlg {
    font-size: 22px;
}

.text.caps {
    text-transform: capitalize;
}

.text.uppercase {
    text-transform: uppercase;
}

/* TEXT OVERFLOW CLASSES */
.text_nowrap {
    white-space: nowrap;
}

.text_wrap {
    white-space:normal;
}

.overflow_hide
{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}


/* NO OVERFLOW WITH ELLIPSIS */
.text_ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p {
    margin:0;
}

/* fix image width in paragraph elements */
p img {
    max-width: 100%;
}


/* RESPONSIVE HEADERS */
.header {
    outline: none;
    font-weight:500;
    opacity:0.9;
    transition: all 0.3s ease-in-out;
}

.header.paragraph {
    line-height:1.5;
}

/* center header */
.header.center {
    text-align: center;
}

.header.xsm {
    font-size: 20px;
}

.header.sm {
    font-size: 24px;
}

.header.md {
    font-size: 28px;
}

.header.lg {
    font-size: 32px;
}

.header.xlg {
    font-size: 36px;
}

.header.lighter {
    font-weight: 200;
}

.header.light {
    font-weight: 300;
}

.header.bold {
    font-weight: 600;
}

.header.bolder {
    font-weight: 700;
}

.subheader {
    line-height: 12px;
}


/* LINES with ELLIPSIS */

.line_item {
    display: flex;
    align-items: center;
    width: 100%;

}
.line_ellipsis {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    text-align: left;
}
.line_end {
    white-space: nowrap;
}

/*  */
.overflow_hide
{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}


