<div style="cursor:default;"
     class="ptl_input ptl_input_height ptl_input_bg_color ptl_input_brdr_color ptl_input_brdr_size ptl_input_brdr_radius"
     [ngClass]="inputClassList"
     [style.filter]="disabled ? 'brightness(.95)' : ''">
  <button (click)="openCalendar($event)"
          aria-haspopup="dialog"
          [disabled]="disabled"
          [attr.aria-label]="ariaLabel + ', ' + text.openCalendar"
          [attr.aria-expanded]="calendarPopover.visible"
          class="access btnset clear width100 height100 center_center"
  >
    <div class="col size_1 height100 width100 ptl_input_text ptl_input_padding v_center">
      <ng-container *ngIf="_internalValue | async as internalValue else placeholderTemplate">
        {{internalValue.start | date: dateFormat}} - {{internalValue.end | date: dateFormat}}
      </ng-container>
      <ng-template #placeholderTemplate>
        {{text.selectWeek}}...
      </ng-template>
    </div>
    <div class="col min_w50 bg_overlay height100 center_center brdr border_left"  [ngClass]="calendarButtonClassList">
      <div class="width100 height100 center_center">
        <i class="fas fa-calendar-week ptl_input_text"></i>
      </div>
    </div>
  </button>
</div>


<!-- week picker input
<div class="wwp_container" style="cursor:default;"
     [ngClass]="inputClassList"
     [style.filter]="disabled ? 'brightness(.95)' : ''">

  <button (click)="openCalendar($event)"
          aria-haspopup="dialog"
          [disabled]="disabled"
          [attr.aria-label]="ariaLabel + ', ' + text.openCalendar"
          [attr.aria-expanded]="calendarPopover.visible"
          class="access content_color wwp_input">
    <ng-container *ngIf="_internalValue | async as internalValue else placeholderTemplate">
      {{internalValue.start | date: dateFormat}} - {{internalValue.end | date: dateFormat}}
    </ng-container>
    <ng-template #placeholderTemplate>
      <div class="wwp_placeholder">{{text.selectWeek}}...</div>
    </ng-template>
  </button>
  <div class="wwp_button" [ngClass]="calendarButtonClassList">
    <i class="fas fa-calendar-week"></i>
  </div>
</div>
-->
<!-- TODO: instead of offset 1, attach to wwp_container -->
<!-- calendar widget -->
<particle-popover [offset]="1" #calendarPopover>
  <!-- month / year select -->
  <div class="wwp_options">
    <div class="content_color pad_5 pad_bot0">
      <div class="row space_between">
        <div class="col size_1 mar_5">
          <select #yearSelect
                  [ngModel]="_selectedYear | async"
                  [attr.data-dialog-close-override]="true"
                  (change)="_selectedYear.next(+yearSelect.value)"
                  class="access input sm content_color"
                  [attr.aria-label]="text.selectYear">
            <option *ngFor="let year of validYearRange$ | async"
                    [value]="year">
              {{year}}
            </option>
          </select>
        </div>
        <div class="col size_2 mar_5">
          <select #monthSelect
                  [ngModel]="_selectedMonth | async"
                  (change)="_selectedMonth.next(+monthSelect.value)"
                  class="access input sm content_color"
                  [attr.aria-label]="text.selectMonth">
            <option value="0">{{text.january}}</option>
            <option value="1">{{text.february}}</option>
            <option value="2">{{text.march}}</option>
            <option value="3">{{text.april}}</option>
            <option value="4">{{text.may}}</option>
            <option value="5">{{text.june}}</option>
            <option value="6">{{text.july}}</option>
            <option value="7">{{text.august}}</option>
            <option value="8">{{text.september}}</option>
            <option value="9">{{text.october}}</option>
            <option value="10">{{text.november}}</option>
            <option value="11">{{text.december}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="content_color pad_5">
      <!-- weekdays -->
      <div class="mar_5 mar_bot10">
        <div class="row wrap space_between bg_grey brad_3 mar_bot5">
          <div class="wwp_weekday">{{text.sundayAbbr}}</div>
          <div class="wwp_weekday">{{text.mondayAbbr}}</div>
          <div class="wwp_weekday">{{text.tuesdayAbbr}}</div>
          <div class="wwp_weekday">{{text.wednesdayAbbr}}</div>
          <div class="wwp_weekday">{{text.thursdayAbbr}}</div>
          <div class="wwp_weekday">{{text.fridayAbbr}}</div>
          <div class="wwp_weekday">{{text.saturdayAbbr}}</div>
        </div>
        <!-- days -->
        <ng-container *ngIf="fullMonth$ | async as fullMonth">
          <ng-container *ngFor="let week of fullMonth">
            <div class="wwp_week"
                 [ngClass]="{ 'currentWeek': week.week === currentDate.week && week.year === currentDate.year }">
              <button (click)="onWeekSelect(week.week, week.selectable)"
                      [disabled]="!week.selectable"
                      [ngClass]="((selectedWeek$ | async) === week.week) && ((selectedYear$ | async) === week.year)
                                    ? 'ok_button_color'
                                    : 'bg_overlay_rev brdr hov_bg'"
                      class="access wwp_week_btn">
                <ng-container *ngFor="let date of week.dates">
                  <div class="wwp_day">
                    {{date}}
                  </div>
                </ng-container>
              </button>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="bg_overlay brdr hr mar_5"></div>
      <div class="row space_between">
        <button *ngIf="canSelectLastWeek$ | async else disabledLastWeekButton"
                (click)="selectLastWeek()"
                class="access btn sm bg_overlay_rev brdr mar_5 hov_bg"
                [attr.aria-label]="text.selectLastWeek">
          <i class="fas fa-chevron-left mar_right5"></i><span class="text bold">{{text.lastWeek}}</span>
        </button>
        <ng-template #disabledLastWeekButton>
          <button disabled
                  class="access btn sm mar_5"
                  [attr.aria-label]="text.selectLastWeek">
            <i class="fas fa-chevron-left mar_right5"></i><span class="text bold">{{text.lastWeek}}</span>
          </button>
        </ng-template>
        <ng-container *ngIf="currentDate.selectable">
          <button *ngIf="((selectedWeek$ | async) === currentDate.week) && ((selectedYear$ | async) === currentDate.year) else selectCurrentWeekButton"
                  disabled
                  class="access btn sm mar_5"
                  [attr.aria-label]="text.resetWeekSelection">
            <i class="fas fa-undo-alt"></i>
          </button>
          <ng-template #selectCurrentWeekButton>
            <button (click)="selectCurrentWeek()"
                    particleTooltip="Reset to Current Week"
                    class="access btn sm bg_overlay_rev brdr hov_bg mar_5"
                    [attr.aria-label]="text.resetWeekSelection">
              <i class="fas fa-undo-alt"></i>
            </button>
          </ng-template>
        </ng-container>
        <button
          *ngIf="canSelectNextWeek$ | async else disabledNextWeekButton"
                (click)="selectNextWeek()"
                class="access btn sm bg_overlay_rev brdr mar_5 hov_bg"
                [attr.aria-label]="text.selectNextWeek">
          <span class="text bold">{{text.nextWeek}}</span><i class="fas fa-chevron-right mar_left5"></i>
        </button>
        <ng-template #disabledNextWeekButton>
          <button disabled
                  class="access btn sm mar_5"
                  [attr.aria-label]="text.selectNextWeek">
            <span class="text bold">{{text.nextWeek}}</span><i class="fas fa-chevron-right mar_left5"></i>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</particle-popover>
