<ng-container *ngIf="currentTheme$ | async as theme">
  <particle-layout-full-framing
    [header]="header"
    headerHeight="75px"
    headerClassList="header_color"
    [mainContent]="mainContent"
    mainContentContainerClassList="height100 body_color"
    [rightSidebar]="sidebar"
    rightSidebarContainerClassList="row column scroll_yauto content_color ptl_brdr_color border_left"
    rightSidebarWidth="200px"
    [rightSidebarCollapsedTabOffset]="-100"
    [footer]="footer"
    footerHeight="0"
  >
    <ng-template #header>HEADER</ng-template>
    <ng-template #mainContent>
      <div class="row width100">
        <particle-date-picker
          [disabled]="false"
          [closeOnSelect]="true"
          [calendarButtonClassList]="'bg_orange ptl_input_text_size'"
        ></particle-date-picker>
      </div>

      <div class="row width100">
        <particle-week-picker
          [calendarButtonClassList]="'bg_blue ptl_input_text_size'"
          [dateRange]="dateRange"
          [closeOnSelect]="true"
          [disabled]="false"
        ></particle-week-picker>
      </div>

      <div class="row width100">
        <particle-week-picker
          [calendarButtonClassList]="'bg_blue ptl_input_text_size'"
          [dateRange]="dateRange"
          [closeOnSelect]="true"
          [disabled]="false"
        ></particle-week-picker>
      </div>

      <div class="row width100">
        <particle-date-range-picker
          [inputClassList]="''"
          [(ngModel)]="pickerRange"
          [calendarButtonClassList]="'bg_blue ptl_input_text_size'"
          [disabled]="false"
        ></particle-date-range-picker>
      </div>

      <div class="row width100">
        <particle-dropdown
          [text]="{placeholder: 'Select an option...'}"
          buttonClassList="bg_blue"
          [options]="[
                       { value: 'a', label: 'Option A' },
                       { value: 'b', label: 'Disabled Option', disabled: true },
                       { value: 'c', label: 'Option C' },
                       {
                         groupLabel: 'Option Group',
                         options: [
                           { value: 'opt-1', label: 'Group Option 1' },
                           { value: 'opt-$', label: 'Group Option $' },
                           { value: 'opt-X', label: 'Group Option X' }
                         ]
                       }
                     ]"
          [disabled]="false">
        </particle-dropdown>
      </div>

      <div class="row width100">
        <particle-multi-select
          buttonClassList="bg_blue"
          [options]="[
                           { value: 'a', label: 'Option A' },
                           { value: 'b', label: 'Disabled Option', disabled: true },
                           { value: 'c', label: 'Option C' },
                           {
                             groupLabel: 'Option Group',
                             options: [
                               { value: '1', label: 'Group Option 1' },
                               { value: '2', label: 'Group Option $' },
                               { value: '3', label: 'Group Option X' }
                             ]
                           }
                         ]"
          [classList]="''" [disabled]="false">
        </particle-multi-select>
      </div>

      <div class="row width100">
        <particle-multi-select
          type="expanded"
          [maxExpandedEntries]="7"
          [options]="[
                       { value: 'a', label: 'Option A' },
                       { value: 'b', label: 'Disabled Option', disabled: true },
                       { value: 'c', label: 'Option C' },
                       {
                         groupLabel: 'Option Group',
                         options: [
                           { value: '1', label: 'Group Option 1' },
                           { value: '2', label: 'Group Option $' },
                           { value: '3', label: 'Group Option X' }
                         ]
                       }
                     ]"
          [classList]="''" [disabled]="false">
        </particle-multi-select>
      </div>

      <div class="row width100">
        <particle-slider [(ngModel)]="sliderValue" unit="%"></particle-slider>
      </div>

      <div class="row width100">
        <particle-render-rich-text class="width100" [html]="textEditorValue"></particle-render-rich-text>
      </div>

      <div class="row width100">
        <div class="text md bolder">Version 1</div>
        <particle-paginator
          [totalLength]="100"
          [pageSizeOptions]="[10,25,50]"
          [pageSize]="10"
          [showResultsPanel]="false"
        ></particle-paginator>
      </div>

      <div class="row width100">
        <div class="text md bolder">Version 2</div>
        <particle-paginator
          [showPages]="true"
          [totalLength]="200"
          [pageSizeOptions]="[10,25,50]"
          [pageSize]="25"
        ></particle-paginator>
      </div>

      <div class="row width100">
        <div class="text md bolder">Version 3</div>
        <particle-paginator
          [showPages]="true"
          [showFirstLast]="true"
          [totalLength]="30000"
          [pageSizeOptions]="[10,25,50]"
          [pageSize]="50"
        ></particle-paginator>
      </div>

      <div class="row width100">
        <div class="text md bolder">Version 4</div>
        <particle-paginator
          [showPages]="true"
          [showFirstLast]="true"
          [showButtonLabels]="false"
          [totalLength]="30000"
          [pageSizeOptions]="[10,25,50]"
          [pageSize]="50"
        ></particle-paginator>
      </div>

      <div class="row width100">
        <div class="text md bolder">Version 5</div>
        <particle-paginator
          [showButtonLabels]="false"
          [totalLength]="30000"
          [pageSizeOptions]="[10,25,50]"
          [pageSize]="50"
        ></particle-paginator>
      </div>

    </ng-template>
    <ng-template #sidebar>
      <div class="row wrap v_center">
        <button (click)="addNotification('success')"
                class="access btn sm bg_overlay brdr bg_green_alt mar_5">
          Show Success
        </button>
        <button (click)="addNotification('warn')"
                class="access btn sm bg_overlay brdr bg_orange_alt mar_5">
          Show Warning
        </button>
        <button (click)="addNotification('error')"
                class="access btn sm bg_overlay brdr bg_red_alt mar_5">
          Show Error
        </button>
        <button (click)="addNotification('info')"
                class="access btn sm bg_overlay brdr bg_purple_alt mar_5">
          Show Info
        </button>
      </div>
    </ng-template>
    <ng-template #footer></ng-template>
  </particle-layout-full-framing>
</ng-container>
