@if (currentTheme$ | async; as theme) {
  <particle-layout-full-framing
    [header]="header"
    headerHeight="75px"
    headerClassList="header_color"
    [mainContent]="mainContent"
    mainContentContainerClassList="height100 body_color"
    [rightSidebar]="sidebar"
    rightSidebarContainerClassList="row column scroll_yauto content_color ptl_brdr_color border_left"
    rightSidebarWidth="200px"
    [mobileSidebarEnabled]="false"
    [footer]="footer"
    footerHeight="0"
    >
    <ng-template #header>HEADER</ng-template>
    <ng-template #mainContent>
      <div class="row rc_gap center_center min_h100">
        <div class="col">
          <div class="circle_8px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_10px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_12px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_14px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_15px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_16px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_18px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_20px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_22px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_24px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_25px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_26px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_28px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_30px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_32px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_35px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_36px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_40px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_45px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_46px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_50px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_60px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_70px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_80px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_90px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="circle_100px ptl_brdr_color ptl_brdr_size bg_blue">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
      <div class="row rc_gap wrap center_center min_h100">
        <div class="col">
          <div class="square_10px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_12px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_15px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_16px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_18px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_20px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_22px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_24px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_25px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_26px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_28px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_30px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_35px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_36px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_40px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_42px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_45px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_46px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_50px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="col">
          <div class="square_60px ptl_brdr_color ptl_brdr_size bg_purple ptl_brdr_radius">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
      <div class="row width100">
        <particle-date-picker
          [(ngModel)]="date"
          [disabled]="false"
          [closeOnSelect]="true"
          [calendarButtonClassList]="'bg_orange ptl_input_text_size'"
        ></particle-date-picker>
      </div>
      <div class="row width100">
        <particle-week-picker
          [calendarButtonClassList]="'bg_blue ptl_input_text_size'"
          [dateRange]="dateRange"
          [closeOnSelect]="true"
          [disabled]="false"
        ></particle-week-picker>
      </div>
      <div class="row width100">
        <particle-week-picker
          [calendarButtonClassList]="'bg_blue ptl_input_text_size'"
          [dateRange]="dateRange"
          [closeOnSelect]="true"
          [disabled]="false"
        ></particle-week-picker>
      </div>
      <div class="row width100">
        <particle-date-range-picker
          [inputClassList]="''"
          [(ngModel)]="pickerRange"
          [calendarButtonClassList]="'bg_blue ptl_input_text_size'"
          [disabled]="false"
        ></particle-date-range-picker>
      </div>
      <div class="row width100">
        <particle-dropdown
          [text]="{placeholder: 'Select an option...'}"
          buttonClassList="bg_blue"
          [options]="[
                       { value: 'a', label: 'Option A' },
                       { value: 'b', label: 'Disabled Option', disabled: true },
                       { value: 'c', label: 'Option C' },
                       {
                         groupLabel: 'Option Group',
                         options: [
                           { value: 'opt-1', label: 'Group Option 1' },
                           { value: 'opt-$', label: 'Group Option $' },
                           { value: 'opt-X', label: 'Group Option X' }
                         ]
                       }
                     ]"
        [disabled]="false">
      </particle-dropdown>
    </div>
    <div class="row width100">
      <particle-multi-select
        buttonClassList="bg_blue"
          [options]="[
                           { value: 'a', label: 'Option A' },
                           { value: 'b', label: 'Disabled Option', disabled: true },
                           { value: 'c', label: 'Option C' },
                           {
                             groupLabel: 'Option Group',
                             options: [
                               { value: '1', label: 'Group Option 1' },
                               { value: '2', label: 'Group Option $' },
                               { value: '3', label: 'Group Option X' }
                             ]
                           }
                         ]"
      [classList]="''" [disabled]="false">
    </particle-multi-select>
  </div>
  <div class="row width100">
    <particle-multi-select
      type="expanded"
      [maxExpandedEntries]="7"
          [options]="[
                       { value: 'a', label: 'Option A' },
                       { value: 'b', label: 'Disabled Option', disabled: true },
                       { value: 'c', label: 'Option C' },
                       {
                         groupLabel: 'Option Group',
                         options: [
                           { value: '1', label: 'Group Option 1' },
                           { value: '2', label: 'Group Option $' },
                           { value: '3', label: 'Group Option X' }
                         ]
                       }
                     ]"
    [classList]="''" [disabled]="false">
  </particle-multi-select>
</div>
<div class="row width100">
  <particle-slider [(ngModel)]="sliderValue" unit="%"></particle-slider>
</div>

<div class="row width100">
  <div class="row_block width100">
    <particle-rich-text
      [(ngModel)]="textEditorValue"
      height="400px"
          [capabilities]="{
            heading: true,
            textDecoration: true,
            list: true,
            alignment: true,
            link: true,
            images: true
          }"
    ></particle-rich-text>
  </div>
</div>
<div class="row width100">
  <div class="text md bolder">Version 1</div>
  <particle-paginator
    [totalLength]="100"
    [pageSizeOptions]="[10,25,50]"
    [pageSize]="10"
    [showResultsPanel]="false"
  ></particle-paginator>
</div>
<div class="row width100">
  <div class="text md bolder">Version 2</div>
  <particle-paginator
    [showPages]="true"
    [totalLength]="200"
    [pageSizeOptions]="[10,25,50]"
    [pageSize]="25"
  ></particle-paginator>
</div>
<div class="row width100">
  <div class="text md bolder">Version 3</div>
  <particle-paginator
    [showPages]="true"
    [showFirstLast]="true"
    [totalLength]="30000"
    [pageSizeOptions]="[10,25,50]"
    [pageSize]="50"
  ></particle-paginator>
</div>
<div class="row width100">
  <div class="text md bolder">Version 4</div>
  <particle-paginator
    [showPages]="true"
    [showFirstLast]="true"
    [showButtonLabels]="false"
    [totalLength]="30000"
    [pageSizeOptions]="[10,25,50]"
    [pageSize]="50"
  ></particle-paginator>
</div>
<div class="row width100">
  <div class="text md bolder">Version 5</div>
  <particle-paginator
    [showButtonLabels]="false"
    [totalLength]="30000"
    [pageSizeOptions]="[10,25,50]"
    [pageSize]="50"
  ></particle-paginator>
</div>
</ng-template>
<ng-template #sidebar>
  <div class="row wrap v_center">
    <button (click)="addNotification('success')"
      class="access btn sm bg_overlay brdr bg_green_alt mar_5">
      Show Success
    </button>
    <button (click)="addNotification('warn')"
      class="access btn sm bg_overlay brdr bg_orange_alt mar_5">
      Show Warning
    </button>
    <button (click)="addNotification('error')"
      class="access btn sm bg_overlay brdr bg_red_alt mar_5">
      Show Error
    </button>
    <button (click)="addNotification('info')"
      class="access btn sm bg_overlay brdr bg_purple_alt mar_5">
      Show Info
    </button>
    <particle-icon-select #iconSelect></particle-icon-select>
  </div>
</ng-template>
<ng-template #footer></ng-template>
</particle-layout-full-framing>
}

