.slideover-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: var(--z-dialog);
}

.transitions_enabled {
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.slideover-panel.left {
  top: 0;
  left: 0;
  height: 100%;
}

.slideover-panel.right {
  top: 0;
  right: 0;
  height: 100%;
}

.slideover-panel.top {
  top: 0;
  left: 0;
  width: 100%;
}

.slideover-panel.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
}

.slideover_inactive_left {
  transform: translate3d(-100%, 0, 0);
}

.slideover_active_left {
  transform: translate3d(0, 0, 0);
}

.slideover_inactive_right {
  transform: translate3d(100%, 0, 0);
}

.slideover_active_right {
  transform: translate3d(0, 0, 0);
}

.slideover_inactive_top {
  transform: translate3d(0, -100%, 0);
}

.slideover_active_top {
  transform: translate3d(0, 0, 0);
}

.slideover_inactive_bottom {
  transform: translate3d(0, 100%, 0);
}

.slideover_active_bottom {
  transform: translate3d(0, 0, 0);
}

.push_close_bar {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  z-index: var(--z-dialog);
  display: flex;
  justify-content: center;
  align-items: center;
}

.data_hide_button {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9pt;
  min-height: 20px;
  height: 20px;
  min-width: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: all .2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.data_hide_button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.particle_dialog_overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(120, 120, 120, 0);
  pointer-events: none;
  transition: background-color 0.2s ease-in-out;
  z-index: var(--z-overlay);
}

.particle_dialog_overlay.overlay_active {
  background-color: rgba(120, 120, 120, 0.4);
  pointer-events: auto;
}
