<!-- timeout dialog -->
<particle-dialog
  [title]="text.sessionExpiring"
  [object]="showDialog"
  [borderRadius]="borderRadius"
  (closed)="resetTimer()"
  width="350px" height="150px"
  #timeoutDialog
>
  <div class="row column center_center height100">
    <div class="header sm bold center mar_bot10">{{ count }} {{ count !== 1 ? text.seconds : text.second }}</div>
    <button class="access btn md bg_overlay brdr ok_button_color" [attr.aria-label]="text.stayLoggedIn"
            (click)="resetTimer()">
      <span class="text">{{ text.stayLoggedIn }}</span>
    </button>
  </div>
</particle-dialog>
