<button (click)="handleClick()" [attr.aria-label]="options.accessibilityLabel" [disabled]="disabled"
        [ngClass]="value ? options.affirmativeColorClass : options.negativeColorClass"
        class="access btn sm v_center hov_glow p_toggle_button" style="">
  <div [ngClass]="!value ? 'content_color' : 'opac_50'"
       class="p_toggle_status"
       [style.min-width]="options.toggleSwitchWidth && options.toggleTrackWidth ? (!value ? options.toggleSwitchWidth + 'px' : (options.toggleTrackWidth - options.toggleSwitchWidth) + 'px') : ''"
  >
    <i [ngClass]="options.negativeIcon" class="fa-fw mar_right5"></i>{{options.negativeLabel}}
  </div>
  <div [ngClass]="value ? 'content_color' : 'opac_50'"
       class="p_toggle_status"
       [style.min-width]="options.toggleSwitchWidth && options.toggleTrackWidth ? (value ? options.toggleSwitchWidth + 'px' : (options.toggleTrackWidth - options.toggleSwitchWidth) + 'px') : ''"
  >
    <i [ngClass]="options.affirmativeIcon" class="fa-fw mar_right5"></i>{{options.affirmativeLabel}}
  </div>
</button>
