<!-- setup for a side column -->
<div class="row height100 ent_r2l_row">
  <div class="row column space_between height100"
       [ngClass]="mainContentContainerClassList">
    <ng-template [ngTemplateOutlet]="mainContent"></ng-template>
  </div>

  <ng-container *ngIf="!rightSidebarSticky">
    <div class="particle_layout_sidebar height100"
         [ngClass]="rightSidebarContainerClassList"
         [style.display]="window.innerWidth <= breakpoint ? 'none' : ''"
         [style.width]="rightSidebarWidth">
      <ng-template [ngTemplateOutlet]="rightSidebar"></ng-template>
    </div>
  </ng-container>

  <ng-container *ngIf="rightSidebarSticky">
    <div class="particle_layout_sidebar height100"
         [style.display]="window.innerWidth <= breakpoint ? 'none' : ''"
         [style.width]="rightSidebarWidth">
      <div class="row column sticky_sidebar"
           [ngClass]="rightSidebarContainerClassList"
           [style.height]="stickySidebarHeight">
        <ng-template [ngTemplateOutlet]="rightSidebar"></ng-template>
      </div>
    </div>
  </ng-container>
</div>

<div [style.visibility]="window.innerWidth <= breakpoint ? 'visible' : 'hidden'"
     [style.opacity]="window.innerWidth <= breakpoint ? '1' : '0'"
     [style.top]="rightSidebarCollapsedTabOffset + 'px'"
     style="z-index: var(--z-frame);"
     class="particle_scroll_button mar_right10 mar_bot15">
  <button
    (click)="slideover.open()"
    class="access btn pad_10 brad_3 brdr content_color"
    type="button">
    <span class="icon slide_left"><i class="fas fa-chevron-left"></i></span>
  </button>
</div>

<particle-slideover
  position="right"
  [width]="rightSidebarWidth"
  [breakpoint]="1"
  #slideover
>
  <div class="min_h40 header_color">

  </div>
  <div class="particle_layout_sidebar height100"
       [ngClass]="rightSidebarContainerClassList + ' ' + collapsedClassList">
    <ng-template [ngTemplateOutlet]="rightSidebar"></ng-template>
  </div>
</particle-slideover>
