<div style="cursor:default;overflow: hidden;"
  [ngClass]="inputClassList ? '' : 'row ptl_input ptl_input_height ptl_input_bg_color ptl_brdr_color ptl_brdr_size ptl_brdr_radius ent_r2l_dir'"
  [style.filter]="disabled ? 'brightness(.95)' : ''">
  <button (click)="openCalendar($event)"
    type="button"
    aria-haspopup="dialog"
    [disabled]="disabled"
    [attr.aria-label]="(ariaLabel ? ariaLabel + ', ' : '') + text.openCalendar"
    [attr.aria-expanded]="calendarPopover.visible"
    [ngClass]="inputClassList ? inputClassList : 'clear'"
    class="access btnset width100 height100 center_center"
    style="outline-offset: -2px;"
    >
    <div class="col size_1 height100 width100 ptl_input_text_size ptl_input_padding v_center">
      @if (valueObs$ | async; as value) {
        @if (value.start && value.end) {
          {{value.start | date: dateFormat}} - {{value.end | date: dateFormat}}
        } @else {
          <div class="ent_r2l_txt">{{text.selectRange}}...</div>
        }
      }
    </div>
    <div class="col min_w50 height100 center_center border_left"
      [ngClass]="calendarButtonClassList ? calendarButtonClassList : 'bg_overlay ptl_brdr_color ptl_input_text_size'">
      <div class="width100 height100 center_center">
        <i class="fas fa-calendar-days ptl_input_text_size"></i>
      </div>
    </div>
  </button>
</div>

<particle-popover (closed)="checkState()" #calendarPopover>
  <div class="width100 space_between">
    <div>
      <div class="pad_10 pad_bot0">
        <div>{{text.begin}}:</div>
        <div>
          <particle-date-picker
            inputClassList="access input sm content_color"
            [inputOnly]="true"
            [(ngModel)]="beginDate"
            [dateRange]="dateRange">
          </particle-date-picker>
        </div>
      </div>
      <particle-calendar [value]="beginDate"
        [text]="$any(text.calendarText)"
        [dateRange]="dateRange"
        [showControls]="false"
        class="hide_element"
        (selected)="updateModel(true, $event)"
        #beginCalendar>
      </particle-calendar>
    </div>
    <div>
      <div class="pad_10 pad_bot0">
        <div>{{text.end}}:</div>
        <div>
          <particle-date-picker
            inputClassList="access input sm content_color"
            [inputOnly]="true"
            [dateRange]="endDateRange"
            [(ngModel)]="endDate">
          </particle-date-picker>
        </div>
      </div>
      <particle-calendar [value]="endDate"
        [text]="$any(text.calendarText)"
        [dateRange]="endDateRange"
        [showControls]="false"
        class="hide_element"
        (selected)="updateModel(false, $event)"
        #endCalendar>
      </particle-calendar>
      <div class="mobile_only pad_bot10"></div>
    </div>
  </div>
  <div class="bg_overlay brdr hr mar_5 mar_top0"></div>
  <div class="row space_between">
    <button (click)="clear()"
      class="access btn sm bg_overlay_rev brdr mar_5 hov_bg"
      [attr.aria-label]="text.clear">
      <i class="fas fa-x mar_right5"></i><span class="text bold">{{text.clear}}</span>
    </button>

    <button (keyup.escape)="calendarPopover.close()"
      (click)="calendarPopover.close()"
      [attr.data-dialog-close-override]="true"
      class="access btn sm bg_overlay_rev brdr mar_5 hov_bg"
      [attr.aria-label]="text.done">
      <i class="fas fa-check mar_right5"></i><span class="text bold">{{text.done}}</span>
    </button>
  </div>
</particle-popover>

