<div #overlay (click)="close()"></div>
<div
  [ngClass]="bgClass + ' ' + (slideoverOpen ? 'slideover_active_' + position : 'slideover_inactive_' + position) + ' slideover-panel ' + position"
  [style.width]="position === 'right' || position === 'left' ? width : null"
  [style.height]="position === 'top' || position === 'bottom' ? height : null"
  [style.left]="position === 'left' && !slideoverOpen ? '-' + width : null"
  [style.right]="position === 'right' && !slideoverOpen ? '-' + width : null"
  [style.bottom]="position === 'bottom' && !slideoverOpen ? '-' + height : null"
  [style.top]="position === 'top' && !slideoverOpen ? '-' + height : null"
>
  <div class="push_close_bar">
    <particle-button
      size="sm"
      iconSide="only"
      icon="fas fa-times"
      rounded="circle"
      [attr.aria-label]="text.close"
      (clicked)="close()"
    ></particle-button>
  </div>
  <ng-content></ng-content>
</div>
