<!-- loading -->
<div class="row column center_center height100" *ngIf="loading">
  <ng-container [ngSwitch]="loadingIcon">
    <!-- bars_bounce -->

    <ng-container *ngSwitchCase="'double_helix'">
      <div class="center_center square_60px">
        <div class="endpoint_spin" style="position: absolute">
          <div class="bars_vertical">
            <div class="col endpoint_shape header_color bar1"></div>
            <div class="col endpoint_shape header_color bar2"></div>
            <div class="col endpoint_shape header_color_light_7 bar3"></div>
            <div class="col endpoint_shape header_color bar4"></div>
            <div class="col endpoint_shape header_color bar5"></div>
          </div>
        </div>
        <div class="endpoint_spin_rev" style="position: absolute">
          <div class="bars_vertical">
            <div class="col endpoint_shape header_color bar5"></div>
            <div class="col endpoint_shape header_color bar4"></div>
            <div class="col endpoint_shape header_color_light_7 bar3"></div>
            <div class="col endpoint_shape header_color bar2"></div>
            <div class="col endpoint_shape header_color bar1"></div>
          </div>
        </div>
        <div class="circle_30px ptl_input_brdr_color ptl_input_brdr_size" style="position: absolute"></div>
      </div>
      <div *ngIf="text.loadingText" class="text md bold center mar_top15" style="user-select: none">{{text.loadingText}}<span class="one">.</span><span class="two">.</span><span class="three">.</span></div>
      <div *ngIf="text.loadingSubtext" class="text sm center mar_top5" style="user-select: none">{{text.loadingSubtext}}</div>
    </ng-container>
    

    <ng-container *ngSwitchCase="'double_helix_old'">
      <div class="bars_vertical">
        <div class="col size_1 bg_overlay brdr bar1"></div>
        <div class="col size_1 bg_overlay brdr bar2"></div>
        <div class="col size_1 bg_overlay brdr bar3"></div>
        <div class="col size_1 bg_overlay brdr bar4"></div>
        <div class="col size_1 bg_overlay brdr bar5"></div>
      </div>
      <div *ngIf="text.loadingText" class="text md bold center mar_top5">{{text.loadingText}}<span class="one">.</span><span class="two">.</span><span class="three">.</span></div>
      <div *ngIf="text.loadingSubtext" class="text sm center mar_top5">{{text.loadingSubtext}}</div>
    </ng-container>

    <div *ngSwitchDefault>
      <i class="{{loadingIcon}} fa-fw fa-3x opac_80"></i>
      <div *ngIf="text.loadingText" class="text md bold center mar_top5">{{text.loadingText}}<span class="one">.</span><span class="two">.</span><span class="three">.</span></div>
      <div *ngIf="text.loadingSubtext" class="text sm center mar_top5">{{text.loadingSubtext}}</div>
    </div>
  </ng-container>
</div>

<!-- loading overlay -->
<ng-container *ngIf="loadingOverlay">
  <div id="overlay">
  </div>
  <div class="row column center_center content_color brad_5 shadow min_w280" style="padding:25px;" id="spinner">
    <div class="bars_vertical">
      <div class="col size_1 bg_overlay brdr bar1"></div>
      <div class="col size_1 bg_overlay brdr bar2"></div>
      <div class="col size_1 bg_overlay brdr bar3"></div>
      <div class="col size_1 bg_overlay brdr bar4"></div>
    </div>
    <div *ngIf="text.loadingOverlayText" class="text xlg bold center" style="margin-top:20px;">{{text.loadingOverlayText}}</div>
    <div *ngIf="text.loadingOverlaySubtext" class="text md center mar_top5">{{text.loadingOverlaySubtext}}</div>
  </div>
</ng-container>

<!-- empty -->
<div class="row_block" *ngIf="empty">
  <div *ngIf="emptyIcon" class="h_center"><i class="{{emptyIcon}}" style="opacity:0.8;"></i></div>
  <div *ngIf="text.emptyText" class="text md bold center mar_top5">{{text.emptyText}}</div>
  <div *ngIf="text.emptySubtext" class="text sm center mar_top5">{{text.emptySubtext}}</div>
</div>

<!-- error -->
<div class="row_block" *ngIf="error">
  <div *ngIf="errorIcon" class="h_center"><i class="{{errorIcon}}" style="opacity:0.8;"></i></div>
  <div *ngIf="text.errorText" class="text md bold center mar_top5">{{text.errorText}}</div>
  <div *ngIf="text.errorSubtext" class="text sm center mar_top5">{{text.errorSubtext}}</div>
</div>
