<!-- choose button -->
<button [ngClass]="buttonColorClass ? buttonColorClass : 'content_color'"
        [ngStyle]="{
                     'width': buttonSizing,
                     'min-width': buttonSizing,
                     'height': buttonSizing,
                     'min-height': buttonSizing
                   }"
        (click)="openDialog()"
        [particleTooltip]="(_internalValue | async)?.prefix + ' ' + (_internalValue | async)?.name"
        [tooltipDisabled]="(_internalValue | async) === undefined"
        [disabled]="disabled"
        class="access wis_button bg_overlay brdr brad_3"
        [attr.aria-label]="text.selectAnIcon">
  <ng-container *ngIf="!showDialog else placeholderIcon">
    <div *ngIf="_internalValue | async as selectedIcon else noSelection">
      <i class="{{selectedIcon.prefix}} {{selectedIcon.name}} wis_icon"></i>
    </div>
    <ng-template #noSelection>
      <div><i class="fas fa-icons opacity_20"></i></div>
    </ng-template>
  </ng-container>
  <ng-template #placeholderIcon>
    <div><i class="fas fa-spinner fa-spin"></i></div>
  </ng-template>
</button>

<!-- TODO: at some point, maybe implement infinite scroll to icons -->

<!-- picker dialog -->
<particle-dialog [title]="text.selectAnIcon"
  [object]="showDialog"
  [width]="'850px'"
  [height]="'500px'"
  (closed)="closeDialog()">
    <div class="row height100">

      <!-- FILTERS -->
      <div class="col min_w250 bg_overlay brdr border_right mobile_hide">
        <div class="row_block width100">
          <ng-container *ngIf="_filter | async as filter">
            <!-- all icons -->
            <div class="mar_5 pad_5">
              <button (click)="handleFilterSelect({ style: 'all', type: 'all' })"
                      [ngClass]="{ 'selected': filter.type === 'all' && filter.style === 'all' }"
                      class="access list_btn row space_between wis_filter_btn bg_overlay_rev brdr"
                      [attr.aria-label]="text.seeAllIcons">
                <div class="v_center">
                  <div class="circle_16px bg_overlay_rev brdr mar_right10">
                    <div *ngIf="filter.type === 'all' && filter.style === 'all'" class="circle_8px ok_button_color"></div>
                  </div>
                  <div class="text md">{{text.seeAllIcons}}</div>
                </div>
                <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
              </button>
            </div>
            <div class="bg_overlay brdr hr mar_10"></div>
            <!-- fontawesome icons -->
            <div class="mar_5">
              <div class="text md bolder" style="padding:10px 10px 5px 15px;">{{text.fontAwesomeIcons}}</div>
              <div class="mar_5">
                <button (click)="handleFilterSelect({ style: 'all', type: 'fontawesome' })"
                        [ngClass]="{ 'selected': filter.type === 'fontawesome' && filter.style === 'all' }"
                        class="access list_btn row space_between wis_filter_btn bg_overlay_rev brdr"
                        [attr.aria-label]="text.filterBy + ' ' + text.fontAwesomeIcons">
                  <div class="v_center">
                    <div class="circle_16px bg_overlay_rev brdr mar_right10">
                      <div *ngIf="filter.type === 'fontawesome' && filter.style === 'all'" class="circle_8px ok_button_color"></div>
                    </div>
                    <div class="text md">{{text.all}}</div>
                  </div>
                  <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
                </button>
              </div>
              <div class="mar_5">
                <button (click)="handleFilterSelect({ style: 'solid', type: 'fontawesome' })"
                        [ngClass]="{ 'selected': filter.type === 'fontawesome' &&  filter.style === 'solid' }"
                        class="access list_btn row space_between wis_filter_btn bg_overlay_rev brdr"
                        [attr.aria-label]="text.filterBy + ' ' + text.solid + ' ' + text.fontAwesomeIcons">
                  <div class="v_center">
                    <div class="circle_16px bg_overlay_rev brdr mar_right10">
                      <div *ngIf="filter.type === 'fontawesome' &&  filter.style === 'solid'" class="circle_8px ok_button_color"></div>
                    </div>
                    <div class="text md">{{text.solid}}</div>
                  </div>
                  <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
                </button>
              </div>
              <div class="mar_5">
                <button (click)="handleFilterSelect({ style: 'regular', type: 'fontawesome' })"
                        [ngClass]="{ 'selected': filter.type === 'fontawesome' &&  filter.style === 'regular' }"
                        class="access list_btn row space_between wis_filter_btn bg_overlay_rev brdr"
                        [attr.aria-label]="text.filterBy + ' ' + text.regular + ' ' + text.fontAwesomeIcons">
                  <div class="v_center">
                    <div class="circle_16px bg_overlay_rev brdr mar_right10">
                      <div *ngIf="filter.type === 'fontawesome' &&  filter.style === 'regular'" class="circle_8px ok_button_color"></div>
                    </div>
                    <div class="text md">{{text.regular}}</div>
                  </div>
                  <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
                </button>
              </div>
              <div class="mar_5">
                <button (click)="handleFilterSelect({ style: 'brands', type: 'fontawesome' })"
                        [ngClass]="{ 'selected': filter.type === 'fontawesome' &&  filter.style === 'brands' }"
                        class="access list_btn row space_between wis_filter_btn bg_overlay_rev brdr"
                        [attr.aria-label]="text.filterBy + ' ' + text.brands + ' ' + text.fontAwesomeIcons">
                  <div class="v_center">
                    <div class="circle_16px bg_overlay_rev brdr mar_right10">
                      <div *ngIf="filter.type === 'fontawesome' &&  filter.style === 'brands'" class="circle_8px ok_button_color"></div>
                    </div>
                    <div class="text md">{{text.brands}}</div>
                  </div>
                  <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
                </button>
              </div>
            </div>
            <div class="bg_overlay brdr hr mar_10"></div>
            <!-- custom icons -->
            <div class="mar_5">
              <div class="text md bolder" style="padding:10px 10px 5px 15px;">{{text.customIcons}}</div>
              <div class="mar_5">
                <button (click)="handleFilterSelect({ style: 'all', type: 'particle' })"
                        [ngClass]="{ 'selected': filter.type === 'particle' && filter.style === 'all' }"
                        class="access list_btn row space_between wis_filter_btn bg_overlay_rev brdr"
                        [attr.aria-label]="text.filterBy + ' ' + text.customIcons">
                  <div class="v_center">
                    <div class="circle_16px bg_overlay_rev brdr mar_right10">
                      <div *ngIf="filter.type === 'particle' && filter.style === 'all'" class="circle_8px ok_button_color"></div>
                    </div>
                    <div class="text md">All</div>
                  </div>
                  <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
                </button>
              </div>
              <div class="mar_5">
                <button (click)="handleFilterSelect({ style: 'solid', type: 'particle' })"
                        [ngClass]="{ 'selected': filter.type === 'particle' && filter.style === 'solid' }"
                        class="access list_btn row space_between wis_filter_btn bg_overlay_rev brdr"
                        [attr.aria-label]="text.filterBy + ' ' + text.solid + ' ' + text.customIcons">
                  <div class="v_center">
                    <div class="circle_16px bg_overlay_rev brdr mar_right10">
                      <div *ngIf="filter.type === 'particle' && filter.style === 'solid'" class="circle_8px ok_button_color"></div>
                    </div>
                    <div class="text md">Solid</div>
                  </div>
                  <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
                </button>
              </div>
              <div class="mar_5">
                <button (click)="handleFilterSelect({ style: 'regular', type: 'particle' })"
                        [ngClass]="{ 'selected': filter.type === 'particle' && filter.style === 'regular' }"
                        class="access list_btn row space_between wis_filter_btn bg_overlay_rev brdr"
                        [attr.aria-label]="text.filterBy + ' ' + text.regular + ' ' + text.customIcons">
                  <div class="v_center">
                    <div class="circle_16px bg_overlay_rev brdr mar_right10">
                      <div *ngIf="filter.type === 'particle' && filter.style === 'regular'" class="circle_8px ok_button_color"></div>
                    </div>
                    <div class="text md">Regular</div>
                  </div>
                  <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
                </button>
              </div>
              <div class="mar_5">
                <button (click)="handleFilterSelect({ style: 'light', type: 'particle' })"
                        [ngClass]="{ 'selected': filter.type === 'particle' && filter.style === 'light' }"
                        class="access list_btn row space_between wis_filter_btn bg_overlay_rev brdr"
                        [attr.aria-label]="text.filterBy + ' ' + text.light + ' ' + text.customIcons">
                  <div class="v_center">
                    <div class="circle_16px bg_overlay_rev brdr mar_right10">
                      <div *ngIf="filter.type === 'particle' && filter.style === 'light'" class="circle_8px ok_button_color"></div>
                    </div>
                    <div class="text md">{{text.light}}</div>
                  </div>
                  <div class="go_icon"><i class="fas fa-chevron-right fa-fw fa-sm opacity_60"></i></div>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- ICONS -->
      <div class="col size_2 column">
        <div class="col content_color_dark_1 pad_x5">
          <!-- paginator -->
          <div *ngIf="totalPages$ | async as totalPages"
               class="col v_center mar_10">
            <button *ngIf="canPaginatePrevious$ | async else disabledPreviousButton"
                    (click)="paginatePrevious()"
                    class="access btn square_24px bg_overlay brdr ok_button_color"
                    [attr.aria-label]="text.previousPage">
              <span class="icon slide_left"><i class="fas fa-arrow-left"></i></span>
            </button>
            <ng-template #disabledPreviousButton>
              <button disabled class="access btn square_24px bg_overlay brdr ok_button_color"
                      [attr.aria-label]="text.previousPage">
                <span class="icon slide_left"><i class="fas fa-arrow-left"></i></span>
              </button>
            </ng-template>
            <div
                 class="text sm bolder center"
                 style="min-width:65px;">
              {{(_activePage | async)! + 1}} / {{totalPages}}
            </div>
            <button *ngIf="canPaginateNext$ | async else disabledNextButton"
                    (click)="paginateNext()"
                    class="access btn square_24px bg_overlay brdr ok_button_color"
                    [attr.aria-label]="text.nextPage">
              <span class="icon slide_right"><i class="fas fa-arrow-right"></i></span>
            </button>
            <ng-template #disabledNextButton>
              <button disabled class="access btn square_24px bg_overlay brdr ok_button_color"
                      [attr.aria-label]="text.nextPage">
                <span class="icon slide_right"><i class="fas fa-arrow-right"></i></span>
              </button>
            </ng-template>
          </div>
          <!-- search -->
          <div class="col size_1 wis_search mar_10">
            <input #iconSearchInput
                   [ngModel]="_searchText | async"
                   (input)="_searchText.next(iconSearchInput.value)"
                   (keyup.enter)="_searchInputEnterKeyup.next($any(null))"
                   class="access input md bg_overlay brdr content_color"
                   [attr.aria-label]="text.searchIcons" [placeholder]="text.searchIcons + '...'" />
            <button *ngIf="(canSearch$ | async) && (_searchClick | async)"
                    (click)="clearSearch()" aria-label="Clear search"
                    class="access btn circle_18px overlay wis_clear_btn">
              <span class="icon grow"><i class="fas fa-times fa-sm"></i></span>
            </button>
            <button *ngIf="canSearch$ | async else disabledSearchButton"
                    (click)="_searchClick.next(iconSearchInput.value); _activePage.next(0)"
                    class="access btn square_28px bg_overlay brdr ok_button_color brad_3 wis_search_btn"
                    [attr.aria-label]="text.submitSearch" type="submit">
              <span class="icon grow"><i class="fas fa-search fa-sm"></i></span>
            </button>
            <ng-template #disabledSearchButton>
              <button disabled
                      class="access btn square_28px bg_overlay brdr ok_button_color brad_3 wis_search_btn"
                      [attr.aria-label]="text.submitSearch" type="submit">
                <span class="icon grow"><i class="fas fa-search fa-sm"></i></span>
              </button>
            </ng-template>
          </div>
        </div>
        <!-- icons -->
        <div #iconScrollContainer class="col size_1 top_left scroll_y pad_5" style="scroll-behavior: smooth">
          <ng-container *ngIf="paginatedIcons$ | async as icons else noResults">
            <div class="row wrap top_left" style="align-items:stretch;">
              <ng-container *ngFor="let icon of paginatedIcons$ | async">
                <div class="col size_1 min_w75 mar_5">
                  <button class="access wis_icon_btn" (click)="handleIconSelect(icon)" [attr.aria-label]="text.select + ' ' + icon.name">
                    <div [ngClass]="((_internalValue | async)?.prefix === icon.prefix) && ((_internalValue | async)?.name === icon.name) ? 'ok_button_color' : 'content_color'"
                         class="wis_icon_btn_preview square_50px brad_3 bg_overlay brdr mar_bot5">
                      <i class="{{icon.prefix}} {{icon.name}}"></i>
                    </div>
                    <div class="text sm center faded">{{icon.name}}</div>
                  </button>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #noResults>
            <div class="row column min_h300 center_center">
              <particle-endpoint-state
                [empty]="true"
                [emptyIcon]="'fas fa-search fa-3x mar_bot5'"
                [text]="{emptyText: text.couldntFindAnything, emptySubtext: text.modifySearchCriteria}">
              </particle-endpoint-state>
              <particle-button
                type="cancel"
                margin="10px"
                [label]="text.clearResults"
                (clicked)="clearSearch()"
              ></particle-button>
            </div>
          </ng-template>
        </div>
        <div *ngIf="_internalValue | async as selectedIcon"
             class="col space_between bg_overlay brdr border_top pad_x5 wis_selection_bar">
          <div class="col v_center mar_10">
            <div class="text md faded mar_right10 mobile_hide">{{text.selection}}:</div>
            <div class="v_center" *ngIf="showIconSelectionPreview">
              <i class="{{selectedIcon.prefix}} {{selectedIcon.name}} fa-fw mar_right5" style="font-size:16px;"></i>
              <div class="text md bold">{{selectedIcon.prefix}} {{selectedIcon.name}}</div>
            </div>
          </div>
          <div class="col v_center mar_10">
            <button (click)="handleIconSelectConfirm()"
                    class="access btn md icon_right bg_overlay brdr save_button_color">
              {{text.confirm}}<span class="icon grow"><i class="fas fa-check"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
</particle-dialog>
