<ng-container *ngIf="containerState | async as state">
  <div class="layout_sidebar"
    [ngClass]="state.sidePanelClass"
    [style.top]="state.topOffset"
    [style.height]="state.height"
    [style.width]="(breakpointExceeded && showSidePanel) ? '100%' : width + 'px'"
    [style.left]="state.left"
    [style.right]="state.right"
    [style.visibility]="visibility ? 'visible' : 'hidden'"
    [style.z-index]="zIndex">
    <div class="push_close_bar" *ngIf="(!hideCloseButton || breakpointExceeded) && !hideCloseButton">
      <button (click)="close()" class="data_hide_button access" tabindex="0" [attr.aria-label]="text.close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <ng-container *ngIf="showSidePanel">
      <ng-content></ng-content>
    </ng-container>
  </div>
  <button
    *ngIf="!visibility && showTabOnClose"
    class="btn md side_panel_tab center_center hide_element access"
    [ngClass]="tabColorClass"
    [style.top]="state.topOffset"
    [style.height]="'calc(100% - ' + state.topOffset + ')'"
    (click)="open()"
    [style.left]="side === 'left' ? 0 : undefined"
    [style.right]="side !== 'left' ? 0 : undefined"
    [particleTooltip]="text.expand"
    [attr.aria-label]="text.expand"
    tooltipPosition="right"
  >
    <div class="text md">
      <i [ngClass]="side === 'left' ? 'fas fa-angle-right' : 'fas fa-angle-left'"></i>
    </div>
  </button>
</ng-container>
