<ng-container *ngIf="containerState | async as state">
  <div class="layout_sidebar"
    [ngClass]="state.sidePanelClass"
    [style.top]="topOffset"
    [ngStyle]="{'height': 'calc(100% - ' + topOffset + ')'}"
    [style.width]="(breakpointExceeded && showSidePanel) ? '100%' : width + 'px'"
    [style.left]="state.left"
    [style.right]="state.right"
    [style.visibility]="visibility ? 'visible' : 'hidden'">
    <div class="push_close_bar" *ngIf="(!hideCloseButton || breakpointExceeded) && !hideCloseButton">
      <button (click)="close()" class="data_hide_button access" tabindex="0"
              [attr.aria-label]="'Close ' + side + ' sidebar'">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <ng-content></ng-content>
  </div>
  <div
    *ngIf="!visibility && showTabOnClose"
    class="side_panel_tab center_center hide_element"
    [ngClass]="tabColorClass"
    [style.top]="topOffset"
    [style.height]="'calc(100% - ' + topOffset + ')'"
    (click)="open()"
    [style.left]="side === 'left' ? 0 : undefined"
    [style.right]="side !== 'left' ? 0 : undefined"
  >
    <div class="text sm">
      <i [ngClass]="side === 'left' ? 'fas fa-angle-right' : 'fas fa-angle-left'"></i>
    </div>
  </div>
</ng-container>
