<div class="access square_50px  ptl_input_bg_color ptl_input_brdr_color ptl_input_brdr_size ptl_input_brdr_radius">
  <button
    class="access btn clear" style="width: 100%; height: 100%;"
    tabindex="0"
    role="checkbox"
    [disabled]="disabled"
    [attr.aria-label]="_value ? text.uncheck : text.check"
    (click)="click()">
    <!-- show if checked state -->

    <div *ngIf="_value">
      <i class="fas fa-check ptl_input_text"></i>
    </div>
  </button>

  <input type="hidden"
         [id]="inputId"
         [value]="value"
         #hiddenInput />
</div>

