<div
  class="access ptl_input_bg_color ptl_input_brdr_color ptl_input_brdr_size ptl_input_brdr_radius"
  [style.height]="size + 'px'" [style.width]="size + 'px'" [style.min-width]="size + 'px'" [style.min-height]="size + 'px'"
>
  <button
    class="access btn clear width100 height100"
    tabindex="0"
    role="checkbox"
    type="button"
    [disabled]="disabled"
    [attr.aria-label]="_value ? text.uncheck : text.check"
    (click)="click()">
    <!-- show if checked state -->

    <div *ngIf="_value">
      <i class="fas fa-check fa-fw" [style.font-size]="(size / 2) + 'px'"></i>
    </div>
  </button>

  <input type="hidden"
         [id]="inputId"
         [value]="value"
         #hiddenInput />
</div>

