.test {
  background-color: var(--bg-red-color);
  color: var(--content-color);
}

a:link, a:visited {
  cursor: pointer;
  color: var(--bg-blue-color);
  text-decoration: underline;
}

a:hover, a:active {
  color: var(--bg-purple-color) 1px solid !important;
}

.opacity_test {
  background-color: rgba(100, 100, 100, .5);
}
.ent_r2l_row{
  flex-direction: row-reverse;
}
.ent_r2l_dir{
  direction: rtl;
}
.ent_r2l_txt{
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: right !important;
}
.ent_r2l_ico{
  transform: scaleX(-1);
}
