<!-- setup for a side column -->
<!--div class="row width100 header_sticky" [style.height]="headerHeight">
  <ng-template [ngTemplateOutlet]="header"></ng-template>
</div>

<div class="row height100">
  <div class="row column space_between content_color height100"
       [ngClass]="mainContentContainerClassList">
    <ng-template [ngTemplateOutlet]="mainContent"></ng-template>
  </div>

  <div class="particle_layout_sidebar height100 hide_element" [style.width]="width">
    <div class="row column sticky_sidebar"
         [ngClass]="rightSidebarContainerClassList"
         [style.height]="stickySidebarHeight">
      <ng-template [ngTemplateOutlet]="rightSidebar"></ng-template>
    </div>
  </div>
</div>

<div class="row width100 footer_sticky" [style.height]="footerHeight">
  <ng-template [ngTemplateOutlet]="footer"></ng-template>
</div-->


<div class="width100 height100">
  <div class="width100 header_sticky" [style.height]="headerHeight">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </div>

  <div class="row" style="height: calc(100% - 160px);">
    <div class="row column space_between content_color height100"
         [ngClass]="mainContentContainerClassList">
      <ng-template [ngTemplateOutlet]="mainContent"></ng-template>
    </div>

    <div class="col particle_layout_sidebar height100 hide_element " [style.width]="width">

        <div class="row column sticky_sidebar height100 bg_red scroll_y"
             [ngClass]="rightSidebarContainerClassList"
             [style.height]="stickySidebarHeight"
             [style.top]="headerHeight">
          <ng-template [ngTemplateOutlet]="rightSidebar"></ng-template>
        </div>


    </div>
  </div>

  <div class="width100 footer_sticky" [style.height]="footerHeight">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </div>
</div>
