<div class="width100 height100">
  <div class="width100 header_sticky" [ngClass]="headerClassList" [style.height]="headerHeight">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </div>

  <div class="row" [style.height]="contentSidebarHeight">
    <div class="row column space_between height100"
         [ngClass]="mainContentContainerClassList">
      <ng-template [ngTemplateOutlet]="mainContent"></ng-template>
    </div>

    <div class="col particle_layout_sidebar height100"
         [style.width]="rightSidebarWidth"
         [style.display]="window.innerWidth <= breakpoint ? 'none' : ''"
    >
      <div class="row column sticky_sidebar height100"
           [ngClass]="rightSidebarContainerClassList"
           [style.height]="stickySidebarHeight"
           [style.top]="headerHeight">
        <ng-template [ngTemplateOutlet]="rightSidebar"></ng-template>
      </div>
    </div>
  </div>

  <div class="width100 footer_sticky" [ngClass]="footerClassList" [style.height]="footerHeight">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </div>
</div>

<div [style.visibility]="window.innerWidth <= breakpoint ? 'visible' : 'hidden'"
     [style.opacity]="window.innerWidth <= breakpoint ? '1' : '0'"
     [style.top]="150 + 'px'"
     class="particle_scroll_button mar_right10 mar_bot15">
  <button
    (click)="slideover.open()"
    class="access btn pad_10 brad_3 brdr content_color"
    type="button">
    <span class="icon slide_left"><i class="fas fa-chevron-left"></i></span>
  </button>
</div>

<particle-slideover
  position="right"
  [width]="rightSidebarWidth"
  #slideover
>
  <div class="particle_layout_sidebar height100 pad_top40"
       [ngClass]="rightSidebarContainerClassList">
    <ng-template [ngTemplateOutlet]="rightSidebar"></ng-template>
  </div>
</particle-slideover>
