.particle_layout_sidebar {
  transition: all 0.2s ease-in-out;
  display: block;
  box-sizing: border-box;
}

.sticky_sidebar {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
